* {
  box-sizing: border-box;
}

body {
  background-color:#F5D6C6;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
	max-width: 140rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}
.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: inline-block;
	width: 100%;
	height: 100%;
	object-fit: center;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
	cursor:pointer;
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 3fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}

#generalSearch{
	width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.submitButton{
	  width: 10%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
	margin-left:10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.submitButton:hover {
  background-color: #45a049;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
.hover12 img {
	cursor:pointer;
}
.hover12 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover12 figure:hover img {
	opacity: .5;
}.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-image: url("https://i.pinimg.com/564x/da/29/77/da29779bcf3539cd9f64949625710884.jpg");
  z-index: 1;
}

.dropdown-content input {
  float: none;
  color: black;
  padding: 12px 16px;
	margin: 5px 5px 15px 5px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content input:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

input[type="submit"]{
	  background-color: #4CAF50;
	border: none;
  border-radius: 4px;
	text-align:center;
	margin-left:40%;
}
input[type="submit"]:hover{
  background-color: #45a049;
	cursor:pointer;
}
input[type="text"]{
	border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
	width:500px;
}
#span-tag{
	background-color:#EEEEEE;
}
.fuzzybutton{
	 padding: 0px 2px;
	border: none;
	background-color: #4CAF50;
	cursor:pointer;
	height:20px;
	margin-top:5px;
	text-align:center;
	border-radius:2px;
}
.fuzzybutton:hover{
	background-color: #45a049;
}